ul {
  list-style-type: none;
  display: none;
  /* padding: 0; */
}

li {
  padding: 6px 0px 6px 0px;
  position: relative;
  color: rgb(0, 0, 0,0.6);
}

.expanded {
  display: block;
  transition: 0.3s ease, width 0.3s ease;
}

.expanded>app-menu-item>li {
  padding: 6px 0px 6px 18px;
}

.expanded>app-menu-item>li>ul {
  margin-left: 0px;
  padding-left: 0;
}

li>ul>app-menu-item>li {
  border-left: 1px solid rgb(0, 0, 0,0.6);
}

li>ul>app-menu-item>li::before {
  content: ' ';
  position: absolute;
  border-top: 1px solid rgb(0, 0, 0,0.6);
  width: 10px;
  top: 20px;
  left: 0px;
}

.menu-item-container {
  display: flex;
  width: 100%;
  height: 36px;
  cursor: pointer;
  align-items: center;
  color: rgb(0, 0, 0,0.6);
  position: relative;
  overflow: hidden;
}

.menu-item-container>.submenu-option-icon {
  margin-left: auto;
}

.menu-item-container>img {
  margin: 16px;
  color: rgb(0, 0, 0,0.6);
}

.has-submenu>ul>app-menu-item:last-child>li {
  border-width: 1px;
  border-image: linear-gradient(to bottom,
      rgb(0, 0, 0,0.6) 20px,
      transparent 20px,
      transparent 100%);
  border-image-slice: 1;
}

.active-link{
  color: black;
}


.closed > .menu-item-container.active-link,
.closed > .menu-item-container:hover {
  background-color: rgb(102, 184, 70, 0.1);
  color: #000000;
  border-top-right-radius: 35%;
  border-bottom-right-radius: 35%;
}

.sub-menu>app-menu-item>li:has(ul.expanded) {
  border-width: 1px;
  border-image: linear-gradient(to bottom,
      rgb(0, 0, 0, 0.6) 20px,
      transparent 20px,
      transparent 100%);
  border-image-slice: 1;
}

.sub-menu>app-menu-item:has(li > ul.expanded)+app-menu-item>li {
  border-width: 1px;
  border-image: linear-gradient(to bottom,
      transparent 20px,
      rgb(0, 0, 0, 0.6) 20px,
      rgb(0, 0, 0, 0.6) 100%);
  border-image-slice: 1;
}

.sub-menu>app-menu-item:has(.has-submenu > .expanded)+app-menu-item>.has-submenu:has(.expanded) {
  border-left: none;
}

.menu-item-container:hover>span,
.active-link>span,
.menu-item-container:hover>span {
  color: #000000
}

li>ul {
  padding-left: 55px;
}
.main-menu:hover,
.main-menu.active-link {
  background-color: rgb(102, 184, 70, 0.1);
  color: #000000;
}
