<ng-container *ngIf="item.submenu">
  <li class="has-submenu" [ngClass]="{'closed': isSidebarOpen}">
    <div class="menu-item-container" [ngClass]="{'main-menu': isMainMenu}" [routerLink]="item.path" routerLinkActive="active-link" (click)="toggleSubMenu()">
      <img *ngIf="item.icon" [src]="item.icon" alt="" srcset="" />
      <span>{{ item.title }}</span>
      <img class="submenu-option-icon"
        [src]="item.showSubMenu ? '../../assets/icons/Component 410 – 1.svg' : '../../assets/icons/Component 410 – 1-2.svg'"
        alt="">
    </div>
    <ul class="sub-menu" [ngClass]="{ expanded: item.showSubMenu }">
      <app-menu-item *ngFor="let subItem of item.submenu" [openSideBar]="openSideBar" [item]="subItem"
        [menuItems]="menuItems"></app-menu-item>
    </ul>
  </li>
</ng-container>
<ng-container *ngIf="!item.submenu">
  <li class="menu" (click)="openSideBar()" [ngClass]="{'closed': isSidebarOpen}">
    <div class="menu-item-container" [ngClass]="{'main-menu': isMainMenu}" [routerLink]="item.path" routerLinkActive="active-link">
      <img *ngIf="item.icon" [src]="item.icon" alt="" srcset="" />
      <span>{{ item.title }}</span>
    </div>
  </li>
</ng-container>
